div {
    padding: initial!important;
}
.layui-layer-title {
    background-color: #fff!important;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #3654ea!important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #3654ea!important;
}
